body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif !important;


}
* h1,h2,h3,h4,h5,h6 ,p,button,input,select,textarea,a{
    font-family: 'Roboto Flex', sans-serif !important;
}
.emailinput {
    min-width: 300px;
    padding: 0 1em ;
    border: 1px solid #c0c0c0;
    &:focus {
        outline: none;
    }
}

.w100 {
    width:100%
}
 

$color : #286538 !important;
$color2 : #1d1d1d !important;
$color3 : #84a545 !important;
.color3 {
    color: $color3;
}
.topd {
    object-position: top;
}
.centerd {
    object-position: center;

}
.img {
    object-fit: cover;
    width:100%;
    height: 100%;
    .contain {
        object-fit: contain !important;
    }
}
.bg2 {
    background: $color3;
}
.borderColor {
    border-color: $color;
}
.borderColor2 {
    border-color: $color2;
}
.rounded {
    border-radius: 50% ;
}
.color2 {
    color: $color2;
}
.color {
    color: $color;
}
.flex {
    display: flex;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.limited {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.space-evenly {
    justify-content: space-evenly;
}
.hover-shadow {
    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
}
.trans {
    transition: all .1s ease-in;
}
.cursor {
    cursor: pointer;
}
.row {
    flex-direction: row;
}
.bg {
    background: $color ;
}
.bg3 {
    background: $color2  ;
}
.border3 {
    border-color: $color2;
}
.white {
 color: white !important;
}
.wrap {
    flex-wrap: wrap ;
}
.gap1 {
    gap:.25em;

}
.absolute
{
    position: absolute;
}
.justify-center {
    justify-content: center
}
.items-center {
align-items: center;
}
.black {
    color: black;
}
button:disabled,
button[disabled]{
    opacity:0.56
}
.swiper-button-next ,.swiper-button-prev {
    color : gray !important;
}
.justify-between {
    justify-content:space-between
}

.cap {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.clr {
    color: $color;
}
.auto{
    margin: 0 auto;
}
.decor-none {
    text-decoration: none;
}
.relative{
    position: relative !important;
}
.swiper  {
    width: 100%;
}
.mySwiper {
    width: 100%;
    max-height: 600px;
}
.swiper-wrapper {
    width: 99vw;
}
.gray{
    color: rgb(63, 63, 63);
}
.uppercase {
    text-transform: uppercase;
}
.red{
    color: red;
}
.green {
    color: green;
}
