body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
}

* h1,
a,
button,
h2,
h3,
h4,
h5,
h6,
input,
label,
p,
select,
span,
textarea {
  font-family: "Manrope", sans-serif !important;
}

.emailinput {
  min-width: 200px;
  padding: 1em;
  border: 1px solid #c0c0c0;
}
.emailinput:focus {
  outline: none;
}

.op0 {
  opacity: 0;
}

.y1 {
  transform: translateY(8px);
}

.swiper-slide,
.swiper-slide-active {
  margin-right: 0 !important;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.color3 {
  color: #84a545 !important;
}

.topd {
  -o-object-position: top;
     object-position: top;
}

.leftd {
  -o-object-position: left;
     object-position: left;
}

.centerd {
  -o-object-position: center;
     object-position: center;
}

.p0 {
  padding: 0 !important;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img .contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.bg2 {
  background: #84a545 !important;
}

.borderColor {
  border-color: #286538 !important;
}

.borderColor2 {
  border-color: #1d1d1d !important;
}

.rounded {
  border-radius: 50%;
}

.color2 {
  color: #1d1d1d !important;
}

.color {
  color: #286538 !important;
}

.flex {
  display: flex;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0px, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.limited {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.space-evenly {
  justify-content: space-evenly;
}

.carthover:hover {
  background: #286538 !important;
}

.carthover2:hover {
  background: #84a545 !important;
}

.italic {
  font-style: italic;
}

.hovereffect h1 {
  transition: 0.3s all;
  border-bottom: 2px solid transparent;
}
.hovereffect h1:hover {
  border-bottom: 2px solid #84a545 !important;
}

.hover-shadow:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.trans {
  transition: all 0.1s ease-in;
}

.cursor {
  cursor: pointer;
}

.row {
  flex-direction: row;
}

.bg {
  background: #286538 !important;
}

.bg3 {
  background: #1d1d1d !important;
}

.border3 {
  border-color: #1d1d1d !important;
}

.white {
  color: white !important;
}

.wrap {
  flex-wrap: wrap;
}

.gap1 {
  gap: 0.25em;
}

.gap4 {
  gap: 1em;
}

.absolute {
  position: absolute;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.button {
  text-transform: uppercase !important;
}
.button p {
  text-transform: uppercase !important;
}

.black {
  color: black;
}

button:disabled,
button[disabled] {
  opacity: 0.56;
}

.swiper-button-next,
.swiper-button-prev {
  color: #286538 !important;
}

.justify-between {
  justify-content: space-between;
}

.cap {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.clr {
  color: #286538 !important;
}

.clr2 {
  color: #1d1d1d !important;
}

.auto {
  margin: 0 auto;
}

.decor-none {
  text-decoration: none;
}

.relative {
  position: relative !important;
}

.catecard {
  padding: 10% 2em;
  color: white;
  height: 100%;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
}

.carditem {
  overflow: hidden;
}
.carditem .cateimg {
  transition: all 0.4s ease-in;
}
.carditem:hover .cateimg {
  transform: scale(1.16);
}

.swiper {
  width: 100%;
}

.mySwiper {
  width: 100%;
  max-height: 600px;
}

.swiper-wrapper {
  width: 99vw;
}

.gray {
  color: rgb(63, 63, 63);
}

.uppercase {
  text-transform: uppercase;
}

.red {
  color: red;
}

.green {
  color: green;
}/*# sourceMappingURL=Styles.css.map */