footer {

  .container {
      background: white;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-direction: row;
  .site-footer__top {
      display: flex;
      flex-wrap: wrap;
  }
  .site-footer__description {
      max-width: 400px;
  }
      }
  .site-footer__links {
      display: flex;
      flex-wrap: wrap;
      ul {
          list-style-type: none;
          margin: 0;
          // padding: 0;
          width: 22%;
          min-width: 170px;
          li {
              a {
                  color :#262626d0;
                  text-decoration: none !important;
              }
              padding: .14em 0;
          }
          .link-title {
              font-weight: 300;
              padding: 0 0 .65em 0;
              color:black;font-weight: 600 !important;
          }
      }
  }
  .footer-p {
      color:rgba(46, 46, 46, 0.635);
  }
  .site-footer__bottom {
      div {
          p{
          
      align-items: center;
      text-align: center;
      width: 100%;
      margin: 0 auto;
  }
}
}
}
.logos {
  max-width: 120px;
}
.auto {
  margin: 0 auto  !important;
}
.flex{
  display: flex !important;
}
.wrap {
  flex-wrap: wrap !important;
}
.invert {
  filter : invert(1) !important;
}
.pointer {
  cursor: pointer !important;
}
.center {
  justify-content: center !important;
}
.between {
  justify-content: space-around !important;
}
.contain {
  object-fit: contain !important;
}
.col{
  flex-direction: column !important;
}
button:disabled,
button[disabled]{
  overflow: 0.88;
}

.row {
  flex-direction: row !important;
}
@media (max-width: 768px) {
  .site-footer__links {
      align-items: center;
      margin: 0 auto;
      
      ul {
          min-width: 200px;
          padding: 0.75em 0 ;
          width: 100% !important;
         
      }
  }
}












$breakpoints: (
phone-sm: 420px,
phone: 767px,
tablet-lg: 1024px,
desktop-lg: 1202px
);

@mixin breakpoint($breakpoint) {

  // If the breakpoint exists in the map.
@if map-has-key($breakpoints, $breakpoint) {

// Get the breakpoint value.
$breakpoint-value: map-get($breakpoints, $breakpoint);

//Build the media query
  @media (min-width: $breakpoint-value) {
    @content;
  }
} 
}

@mixin breakpointMax($breakpoint) {

  // If the breakpoint exists in the map.
@if map-has-key($breakpoints, $breakpoint) {

// Get the breakpoint value.
$breakpoint-value: map-get($breakpoints, $breakpoint);

//Build the media query
  @media (max-width: $breakpoint-value) {
    @content;
  }
} 
}
@media (min-width: 768px) {
  .site-footer__links {
      ul {
          width: 50%;
      }
  }
}

.site-footer {
  padding-top: 50px;
  @include breakpoint(phone) {
    padding-top: 90px;
  }
  .site-footer__top {
    @include breakpoint(phone) {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;
    }
    @include breakpoint(tablet-lg) {
      flex-wrap: nowrap;
    }
  }
  .site-footer__description {
    margin-right: auto;
    margin-bottom: 70px;
    @include breakpoint(phone) {
      width: 400px;
      margin-bottom: 50px;
    }
    @include breakpoint(tablet-lg) {
      margin-bottom: 0;
    }
    svg {
      object-fit: contain;
      width: 45px;
      height: 35px;
      fill: #000;
      margin-right: 15px;
    }
    h6 {
      display: flex;
      color: #000;
      font-weight: 300;
      align-items: center;
      margin-bottom: 33px;
      span {
        font-weight: 400;
        color: var(--color-orange);
      }
    }
    p {
      font-size: 13px;
      line-height: 190%;
    }
  }
  .site-footer__social-networks {
    display: flex;
    margin-top: 20px;
    li {
      font-size: 21px;
      margin-right: 25px;
    }
  }
  .site-footer__links {
    @include breakpoint(phone) {
      display: flex;
      width: 100%;
    }
    @include breakpoint(tablet-lg) {
      width: auto;
    }
    ul {
      margin-bottom: 40px;
      @include breakpoint(phone) {
        margin-right: 30px;
        margin-bottom: 0;
      }
      @include breakpoint(tablet-lg) {
        margin-right: 49px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      li {
        font-size: 14px;
        color: #000;
        margin-bottom: 12px;
        @include breakpoint(phone) {
          margin-bottom: 15px;
        }
        &:first-child {
          font-weight: 600;
          margin-bottom: 26px;
          @include breakpoint(phone) {
            margin-bottom: 34px;
          }
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .site-footer__bottom {
    padding: 10px 0;
    border-top: 1px solid #EBEBEB;
    @include breakpoint(phone) {
      padding: 16px 0;
    }
    .container {
      font-size: 15px;
      text-align: center;
      @include breakpoint(phone) {
        font-size: 16px;
      }
    }
  }
}