footer .container {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
}
footer .container .site-footer__top {
  display: flex;
  flex-wrap: wrap;
}
footer .container .site-footer__description {
  max-width: 400px;
}
footer .site-footer__links {
  display: flex;
  flex-wrap: wrap;
}
footer .site-footer__links ul {
  list-style-type: none;
  margin: 0;
  width: 22%;
  min-width: 170px;
}
footer .site-footer__links ul li {
  padding: 0.14em 0;
}
footer .site-footer__links ul li a {
  color: rgba(38, 38, 38, 0.8156862745);
  text-decoration: none !important;
}
footer .site-footer__links ul .link-title {
  font-weight: 300;
  padding: 0 0 0.65em 0;
  color: black;
  font-weight: 600 !important;
}
footer .footer-p {
  color: rgba(46, 46, 46, 0.635);
}
footer .site-footer__bottom div p {
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.logos {
  max-width: 120px;
}

.auto {
  margin: 0 auto !important;
}

.flex {
  display: flex !important;
}

.wrap {
  flex-wrap: wrap !important;
}

.invert {
  filter: invert(1) !important;
}

.pointer {
  cursor: pointer !important;
}

.center {
  justify-content: center !important;
}

.between {
  justify-content: space-around !important;
}

.contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.col {
  flex-direction: column !important;
}

button:disabled,
button[disabled] {
  overflow: 0.88;
}

.row {
  flex-direction: row !important;
}

@media (max-width: 768px) {
  .site-footer__links {
    align-items: center;
    margin: 0 auto;
  }
  .site-footer__links ul {
    min-width: 200px;
    padding: 0.75em 0;
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .site-footer__links ul {
    width: 50%;
  }
}
.site-footer {
  padding-top: 50px;
}
@media (min-width: 767px) {
  .site-footer {
    padding-top: 90px;
  }
}
@media (min-width: 767px) {
  .site-footer .site-footer__top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .site-footer .site-footer__top {
    flex-wrap: nowrap;
  }
}
.site-footer .site-footer__description {
  margin-right: auto;
  margin-bottom: 70px;
}
@media (min-width: 767px) {
  .site-footer .site-footer__description {
    width: 400px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .site-footer .site-footer__description {
    margin-bottom: 0;
  }
}
.site-footer .site-footer__description svg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 45px;
  height: 35px;
  fill: #000;
  margin-right: 15px;
}
.site-footer .site-footer__description h6 {
  display: flex;
  color: #000;
  font-weight: 300;
  align-items: center;
  margin-bottom: 33px;
}
.site-footer .site-footer__description h6 span {
  font-weight: 400;
  color: var(--color-orange);
}
.site-footer .site-footer__description p {
  font-size: 13px;
  line-height: 190%;
}
.site-footer .site-footer__social-networks {
  display: flex;
  margin-top: 20px;
}
.site-footer .site-footer__social-networks li {
  font-size: 21px;
  margin-right: 25px;
}
@media (min-width: 767px) {
  .site-footer .site-footer__links {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .site-footer .site-footer__links {
    width: auto;
  }
}
.site-footer .site-footer__links ul {
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .site-footer .site-footer__links ul {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .site-footer .site-footer__links ul {
    margin-right: 49px;
  }
}
.site-footer .site-footer__links ul:last-of-type {
  margin-right: 0;
}
.site-footer .site-footer__links ul li {
  font-size: 14px;
  color: #000;
  margin-bottom: 12px;
}
@media (min-width: 767px) {
  .site-footer .site-footer__links ul li {
    margin-bottom: 15px;
  }
}
.site-footer .site-footer__links ul li:first-child {
  font-weight: 600;
  margin-bottom: 26px;
}
@media (min-width: 767px) {
  .site-footer .site-footer__links ul li:first-child {
    margin-bottom: 34px;
  }
}
.site-footer .site-footer__links ul li a:hover {
  text-decoration: underline;
}
.site-footer .site-footer__bottom {
  padding: 10px 0;
  border-top: 1px solid #EBEBEB;
}
@media (min-width: 767px) {
  .site-footer .site-footer__bottom {
    padding: 16px 0;
  }
}
.site-footer .site-footer__bottom .container {
  font-size: 15px;
  text-align: center;
}
@media (min-width: 767px) {
  .site-footer .site-footer__bottom .container {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */